html { 	
}

body {
	height: 99%;
	width: 99%;
	margin: 0;
	padding: 0;
	background-color: white;
}

#canvas {
	 position: absolute;
	 /*
	 width: 100%; 
	 height: 100%;
	 */
	 overflow: hidden;
	 /*margin-top: 50px;
	 margin-left: 50px;*/
	 background-color: #D8D8D8;
}

label {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}