html { 	
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#canvas {
	 position: absolute;
	 width: 100%; 
	 height: 100%; 
	 overflow: hidden;
	 margin-top: 50px;
}

label {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}